/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2015, 3:06:05 PM
    Author     : Daniel
*/

body
{
    margin: 5px;
    display: inline-block;
    background-color: black;
}
p
{
    color: white;
    display: block;
    text-align: center;
}

.controls
{
    min-width: 80px;
    max-width: 30vw;
    display: inline-block;
    vertical-align: top;
}
.switches
{
    //float: right;
    float: top;
    display: block;
    vertical-align: top;
    border: solid;
    border-color: white;
    border-width: 2px;
    margin-top: 5px;
}
.picker
{
    //display: block;
    vertical-align: top;
}

.colors
{
    //alignment-adjust: central;
    //width: 70px;
    display: inline-block;
    border: solid;
    border-color: white;
    border-width: 2px;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    
}

button
{
    display: block;
}

.textureCanvas
{
    position: absolute;
    left: -1000px;
    top: -1000px;
    z-index: -1;
    
}

.textureFinCanvas
{
    position: absolute;
    left: -1000px;
    top: -1000px;
    z-index: -1;
    
}